body { background: #565376; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 39px; display: flex; }
.block-database-0 { color: #17ffa3; font-size: 18px; margin-bottom: 5px; }
.block-search-1 { color: #c7e920; font-size: 21px; margin-bottom: 5px; }
.block-logger-2 { color: #ab4e07; font-size: 15px; margin-bottom: 5px; }
.block-notify-3 { color: #219721; font-size: 15px; margin-bottom: 5px; }
.block-router-4 { color: #facf3; font-size: 12px; margin-bottom: 5px; }
.block-sms-5 { color: #ba3063; font-size: 15px; margin-bottom: 5px; }
.block-product-6 { color: #e64ebe; font-size: 15px; margin-bottom: 5px; }
.block-invoice-7 { color: #dde3e6; font-size: 17px; margin-bottom: 5px; }